@use 'design-system' as *;

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-collapse: collapse;
    padding-top: $spacing-size-8;
    padding-bottom: $spacing-size-8;

    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.gridItem:first-child {
    border-top-left-radius: $spacing-size-2;
}

.gridItem:last-child {
    border-bottom-right-radius: $spacing-size-2;
}

.iconWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    .logo {
        opacity: 0.5;
        transition: opacity 0.5s all;
        height: 40px;

        path {
            fill: var(--color-fg-secondary);
        }
    }

    .icon {
        width: 32px;
        height: 32px;

        path {
            fill: var(--color-util-brand-500);

            #{$selector-darkmode} & {
                fill: var(--color-bg-primary);
            }
        }
    }
}

.gridItem {
    background-color: var(--color-bg-primary);
    padding: $spacing-size-8;
    margin: -1px;
    border: 1px solid var(--color-border-secondary);
    transition: all 0.6s;

    a {
        padding-right: $spacing-size-4;
    }

    &:hover {
        border: 1px solid var(--color-util-brand-500);
        background-color: var(--color-brand-50);
        z-index: 2;
        cursor: pointer;
        transition: opacity 0.5s all;

        .logo {
            opacity: 1;
            transition: opacity 0.5s all;
        }

        #{$selector-darkmode} & {
            h3,
            p,
            a {
                color: var(--color-bg-primary);
            }

            background-color: var(--color-brand-200);
            border: 1px solid var(--color-white);
        }
    }

    .title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 12px;
    }

    .description {
        font-size: var(--text-fs-sm);
        color: var(--color-text-secondary);
        opacity: 0.8;
    }
}
