---
import { getFrameworkFromPath } from '@components/docs/utils/urlPaths';

const framework = getFrameworkFromPath(Astro.url.pathname);
---

<h1>I AM THE UPGRADE COMPONENT</h1>
<h2>THE FRAMEWORK IS: {framework.toUpperCase()}</h2>

<h2 id="HEADING-TWO">HEADING TWO</h2>

<p>
    Cumque voluptas vero id sunt accusantium ipsum dolorem officiis. Aut deserunt itaque vero quia velit. Esse
    asperiores ut et error nemo ab aperiam.
</p>

<p>Dolores eos et similique at sunt aliquam dicta. Veritatis incidunt et. Quisquam eaque qui culpa quibusdam.</p>

<h3 id="HEADING-THREE">HEADING THREE</h3>

<p>
    Maxime occaecati id culpa est cumque ullam sunt laudantium veritatis. Totam aperiam et modi veritatis nesciunt qui.
    Facilis quia cupiditate. Voluptas nihil reprehenderit ea sapiente labore sit dolores voluptatum.
</p>

<h3 id="HEADING-THREE-AGAIN">HEADING THREE - AGAIN</h3>

<p>
    Cumque voluptas vero id sunt accusantium ipsum dolorem officiis. Aut deserunt itaque vero quia velit. Esse
    asperiores ut et error nemo ab aperiam.
</p>

<p>Dolores eos et similique at sunt aliquam dicta. Veritatis incidunt et. Quisquam eaque qui culpa quibusdam.</p>
